.container {
    display: flex;
    margin-top: 200px;
    transform-origin: center
}

.circle1 {
    display: block;
    margin-left: 400px;
    height: 100px;
    border-radius: 100%;
    width:100px;
    border: solid rgb(126, 152, 167) 2px;
    float: left;
}

.circle2 {
    display: block;
    margin-left: -30px;
    height: 100px;
    border-radius: 100%;
    width: 100px;
    border: solid rgb(126, 152, 167) 2px;
    float: left;
}



@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
    animation-duration: 1s;
    aniamtion-delay: 1s;
  }