body{
    background: whitesmoke;
}

h1, h2 {
    color: blue;
    font-weight: bold;
    margin: 100px;
    padding: 40px;
    border: 5px dashed pink;
    font-family: 'Courier New', Courier, monospace;
}