#container-text {
        top: 50%;
        left: 50%; 
        position: absolute;
        display: block;
    }

h1 {
        font-family: 'Londrina Outline';
        font-size: 90px;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 80vh;
 }

#scroll-section {
    scroll-behavior: smooth;
}

section {
    align-items: center;
    display: flex;
    height: 80vh;
    font-size: 20px;
    justify-content: center;
    font-family: 'Pompiere';
}

.parallax{
    background: url('cowmethane.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}


@-webkit-keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }
  
  @keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }
  
  .flash {
    -webkit-animation-name: flash;
    animation-name: flash;
    animation-duration: 2s;
  }
  
